.editTask-background{
    -fx-background-color: "#272727";
}

.editTask-button-background{
    -fx-background-color: "#323232";
    -fx-background-radius: 10;
}

.editTask-button-background:hover{
    -fx-background-color: "#3b3b3b";
}

.editTask-textField{
    -fx-background-color: "#323232";
    -fx-background-radius: 10;
    -fx-border: none;
    -fx-font-size: 14px;
    -fx-text-fill: #c7c7c7;
}

.editTask-textField:hover{
    -fx-background-color: "#3b3b3b";
}

.editTask-datePicker{
    -fx-background-color: "#323232";
    -fx-background-radius: 10;
    -fx-border: none;
    -fx-font-size: 14px;
    -fx-text-fill: #c7c7c7;
}

.editTask-datePicker .combo-box{
    -fx-background-color: "#323232";
    -fx-background-radius: 10;
    -fx-border: none;
    -fx-font-size: 14px;
    -fx-text-fill: #c7c7c7;
}

.editTask-datePicker:hover{
    -fx-background-color: "#3b3b3b";
}

.combo-box-base {
    -fx-background-color: "#323232";
    -fx-prompt-text-fill: #888888;
    -fx-text-fill: #000000;
    -fx-padding: 0px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.combo-box-base .arrow-button {
    -fx-background-color: "#323232";
    -fx-background-radius: 5px;
}

.combo-box-base .arrow-button:hover {
    -fx-background-color: "#3b3b3b";
}

.combo-box-base .arrow-button .arrow {
    -fx-background-color: "#FFFFFF";
}

.combo-box-base .list-cell {
    -fx-background-color: "#323232";
    -fx-text-fill: "#FFFFFF";
}

.combo-box-base:focused {
    -fx-border-width: 0px;
}

.combo-box-base .list-view {
    -fx-background-color: "#323232";
    -fx-border-width: 0px;
}

.combo-box-base .list-view .list-cell:hover {
    -fx-background-color: "#3b3b3b";
}