.myDay-background{
    -fx-background-image: url("../images/mydaybg.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.page-background{
    -fx-background-color: "#1c1c1c";
}


.search-bar{
    -fx-background-color: transparent;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: "#F9F9F9";
    -fx-border-radius: 10;
    -fx-prompt-text-fill: "#FFFFFF";
    -fx-text-fill: "#FFFFFF";
}

.search-bar:hover{
    -fx-border-color: "#00C6FF";
}

.search-bar:focused{
    -fx-border-color: "#00C6FF";
}

.list-transparent{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.list-cell {
    -fx-background-color: "#37393a";
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 20px;
    -fx-background-insets: 0 0 5 0;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-transition: 0.3s ease-in-out;
}

.list-cell:hover {
    -fx-background-color: #303030;
}

.task-cell:hover{
    -fx-background-color: "#303030";
}

.list-cell:selected {
    -fx-background-color: #303030;
    -fx-text-fill: #fff;
}

.addButton{
    -fx-background-color: "#3b3b3b";
    -fx-background-radius: 99999;
}

.addButton:hover{
    -fx-background-color: "#4b423a";
}

.menu-button {
    -fx-background-color: transparent; /* Transparent background */
    -fx-border-width: 1;
    -fx-border-color: #F9F9F9; /* Subtle dark border */
    -fx-border-radius: 20;
    -fx-padding: 5 10;
    -fx-cursor: hand;
}

.menu-button .text{
    -fx-fill: white !important;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
}

.menu-button .arrow {
    -fx-background-color: white;
}

.menu-button:hover {
    -fx-border-color: #00C6FF;
}

.menu-button:focused {
    -fx-border-color: #00C6FF;
    -fx-border-width: 2;
}

#noTaskLabel{
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.import-button{
    -fx-background-color: "#3b3b3b";
    -fx-background-radius: 10;
}

.import-button:hover{
    -fx-background-color: "#4b423a";
}

.list-collaborated{
    -fx-background-color: transparent;
}

.list-collaborated-cell{
    -fx-background-color: "#6b2fbc" !important;
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 20px;
    -fx-background-insets: 0 0 5 0;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-transition: 0.3s ease-in-out;
}

.list-collaborated-cell:hover{
    -fx-background-color: "#7c3aed";
}