.entry-background{
    -fx-background-color: "#e6e6e6";
}

.login-button{
    -fx-background-color: "#436af2";
}

.login-button:hover{
    -fx-background-color: "#3a5fde";
}

.login-background{
    -fx-background-color: "#FFFFFF";
}

.login-button{
    -fx-background-color: "#007c89";
    -fx-background-radius: 30;
}

.left-sideBar{
    -fx-background-color: "#212121";
}

.logo-background{
    -fx-background-color: "#00a300";
    -fx-background-radius: 99999;
}

.sideBar-button{
    -fx-background-color: "#1f1f1f";
}

.sideBar-button:hover{
    -fx-background-color: "#303030";
}

.myDay{
    -fx-graphic: url("../images/sun.png");
    -fx-graphic-text-gap: 10;
}

.important{
    -fx-graphic: url("../images/star.png");
    -fx-graphic-text-gap: 10;
}

.tasks{
    -fx-graphic: url("../images/home.png");
    -fx-graphic-text-gap: 10;
}

.myDay-selected{
    -fx-background-color: "#303030";
    -fx-background-radius: 3;
    -fx-border-width: 0 0 0 3;
    -fx-border-color: "#76b9ed";
    -fx-border-radius: 3;
}

.myDay-background{
    -fx-background-color: linear-gradient(to bottom, #25555a, #ad9790);
}

.important-tasks-background{
    -fx-background-color: "#1c1c1c";
}

.addButton{
    -fx-background-color: "#3b3b3b";
    -fx-background-radius: 99999;
}

.addButton:hover{
    -fx-background-color: "#4b423a";
}

.list-transparent{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.list-cell {
    -fx-alignment: center-left;
    -fx-background-color: "#37393a";
    -fx-text-fill: "#FFFFFF";
    -fx-padding: 15px;
    -fx-background-insets: 0 0 3 0;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
}

.list-cell:hover{
    -fx-background-color: "#303030";
}

.addTask-background{
    -fx-background-color: "89A8B2";
}

.addTask-addButton{
    -fx-background-color: "#00B8D4";
    -fx-background-radius: 10;
}

.addTask-button:hover{
    -fx-background-color: "#00A3B8";
}

.addTask-cancelButton{
    -fx-background-color: "#3b3b3b";
    -fx-background-radius: 10;
}

.addTask-cancelButton:hover{
    -fx-background-color: "#4b423a";
}

.addTask-textField{
    -fx-background-color: "#FFFFFF";
    -fx-background-radius: 10;
    -fx-border: none;
    -fx-font-size: 14px;
    -fx-text-fill: #2e2e2e;
}

.addTask-date-picker {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #2e2e2e;
}

.addTask-date-picker .arrow-button {
    -fx-background-color: "#0c828e";
}

.create-account-button{
    -fx-background-color: transparent;
}

.sign-label{
    -fx-cursor: hand;
}

.editTask-background{
    -fx-background-color: "#272727";
}

.editTask-button-background{
    -fx-background-color: "#323232";
    -fx-background-radius: 10;
}

.editTask-button-background:hover{
    -fx-background-color: "#3b3b3b";
}

.editTask-textField{
    -fx-background-color: "#323232";
    -fx-background-radius: 10;
    -fx-border: none;
    -fx-font-size: 14px;
    -fx-text-fill: #c7c7c7;
}

.editTask-textField:hover{
    -fx-background-color: "#3b3b3b";
}

.editTask-datePicker{
    -fx-background-color: "#323232";
    -fx-background-radius: 10;
    -fx-border: none;
    -fx-font-size: 14px;
    -fx-text-fill: #c7c7c7;
}

.editTask-datePicker .combo-box{
    -fx-background-color: "#323232";
    -fx-background-radius: 10;
    -fx-border: none;
    -fx-font-size: 14px;
    -fx-text-fill: #c7c7c7;
}

.editTask-datePicker:hover{
    -fx-background-color: "#3b3b3b";
}

/* General styling for all ChoiceBoxes */
.combo-box-base {
    -fx-background-color: "#323232";
    -fx-prompt-text-fill: #888888;
    -fx-text-fill: #000000;
    -fx-padding: 0px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.combo-box-base .arrow-button {
    -fx-background-color: "#323232";
    -fx-background-radius: 5px;
}

.combo-box-base .arrow-button:hover {
    -fx-background-color: "#3b3b3b";
}

.combo-box-base .arrow-button .arrow {
    -fx-background-color: "#FFFFFF";
}

.combo-box-base .list-cell {
    -fx-background-color: "#323232";
    -fx-text-fill: "#FFFFFF";
}

.combo-box-base:focused {
    -fx-border-width: 0px;
}

.combo-box-base .list-view {
    -fx-background-color: "#323232";
    -fx-border-width: 0px;
}

.combo-box-base .list-view .list-cell:hover {
    -fx-background-color: "#3b3b3b";
}

.sign-out-button{
    -fx-background-color: "#3b3b3b";
    -fx-background-radius: 20;
}

.sign-out-button:hover{
    -fx-background-color: "#4b423a";
}

.notification-background{
    -fx-background-color: "#323232";
    -fx-background-radius: 0 0 0 10;
}

.category-label{
    -fx-graphic: url("../images/application.png");
    -fx-graphic-text-gap: 10;
}

.add-category-button{
    -fx-background-color: transparent;
    -fx-background-radius: 99999;
}

.add-category-button:hover{
    -fx-background-color: "#4b423a";
}



